<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">

    <persistence-unit name="materjuniorPU" transaction-type="RESOURCE_LOCAL">
    
        <!-- provedor/implementacao do JPA -->
        <!--provider>org.eclipse.persistence.jpa.PersistenceProvider</provider-->
        <provider>org.hibernate.ejb.HibernatePersistence</provider>

        <class>br.com.materjunior.entities.Pessoa</class>
        <class>br.com.materjunior.entities.Aluno</class>
        <class>br.com.materjunior.entities.Contato</class>
        <class>br.com.materjunior.entities.Cliente</class>
        <class>br.com.materjunior.entities.Alunoprojeto</class>
        <class>br.com.materjunior.entities.Usuario</class>
        <class>br.com.materjunior.entities.Lancamento</class>
        <class>br.com.materjunior.entities.Egresso</class>
        <class>br.com.materjunior.entities.Projeto</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>

        <properties>
            <!-- dados da conexao -->
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/materjunior?zeroDateTimeBehavior=convertToNull"/>
            <property name="javax.persistence.jdbc.password" value="portalAll"/>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
            <property name="javax.persistence.jdbc.user" value="portalAll"/>
            
            <!--  propriedades do hibernate -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.format_sql" value="true" />

            <!--  atualiza o banco, gera as tabelas se for preciso -->
            <property name="hibernate.hbm2ddl.auto" value="update" />
            
        </properties>
    </persistence-unit>
</persistence>
