<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
    xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd">
 
    <!-- inicio declaracao de beans utilizados pelo quarts a executar um trabalho -->
    <bean id="quartzLerArquivosJob" class="br.com.viasoft.portaldef.job.JobLerArquivos"/>

    <bean id="jobLerArquivos" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzLerArquivosJob" />
        <property name="targetMethod" value="vascularDiretorio" />
        <property name="concurrent" value="true" />
    </bean>

    <bean id="triggerLerArquivos" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="jobLerArquivos" />
        <property name="cronExpression" value="0 0/10 * * * ?" />
    </bean>
    
    
    <!-- Job de leitura de email -->
    <bean id="quartzMonitorarEmailJob" class="br.com.viasoft.portaldef.job.JobMonitorarEmail"/>

    <bean id="jobMonitorarEmail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzMonitorarEmailJob" />
        <property name="targetMethod" value="monitorarEmail" />
        <property name="concurrent" value="true" />
    </bean>

    <bean id="triggerMonitorarEmail" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="jobMonitorarEmail" />
        <property name="cronExpression" value="0 1/10 * * * ?" />
    </bean>
    

    <!-- lista de trabalhos a serem executados -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="triggerLerArquivos" />
                <ref bean="triggerMonitorarEmail" />
            </list>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
        <property name="autoStartup" value="true"/>
    </bean>

</beans>