.rodape { width: 980px; border-top: 1px solid #F5F5F5; margin: 20px auto 0px; }
.rodape-menu { padding: 10px 0px; width: 50%; float: left; }
.rodape-titulo { text-transform: uppercase; color: #D0D0D0; font-weight: bold; font-size: 11px; margin: 0px 0px 5px; }
.rodape-itens { display: block; float: left; width: 120px; }
.rodape-copy { margin: 15px 0px 25px; }